APP_ENVIRONMENT=development
APP_API_DOCS=false
DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=
DB_PASSWORD=

FRONTEND_URL=http://localhost:5173

RESET_PASSWORD_SECRET=
VERIFY_EMAIL_SECRET=
ACCESS_SECRET=
REFRESH_SECRET=

SERVER_PORT=8080

MINIO_URL=http://localhost:9000
MINIO_ACCESS_NAME=minioadmin
MINIO_ACCESS_SECRET=minioadmin
MINIO_BUCKET_NAME=jobportal
